body {
    white-space: nowrap;
    width: 95%;
    margin: auto;
    font-family: sans-serif;
}

.card-title {
    text-align: left;
}

.card-title h1 {
    margin-bottom: 0;
}

.card-title input[type=text] {
    display: block;
    font-size: xx-large;
    font-weight: bold;
    width: 100%;
}


@media (orientation: portrait) {
    .content-flex {
        display: flex;
        flex-direction: column;
    }

}

@media (orientation: landscape) {
    .content-flex {
        display: flex;
        column-gap: 20px;
        flex-direction: row;
    }
}

.ingredients-pane ul {
    list-style-type: none;
    padding: 0;
    margin: 0 0 0 0;
}

.errorlist {
    color: red;
    list-style: none;
    padding-left: 0;
}

.delete-label img {
    width: 20px;
    height: 20px;
    cursor: pointer;
    vertical-align: middle;
}

.ingredient-inclusion-form div div {
    display: inline-block;
    margin-right: 10px;
    /* optional spacing */
    vertical-align: middle;
}

.ingredient-inclusion-form {
    display: flex;
    align-items: center;
    /* vertically align input and div */
    gap: 10px;
    /* horizontal spacing */
}