{% extends "base.html" %}
{% load static %}

{% block scripts %}
<script src={% static 'recipe_app/hide_parent.js' %}></script>
<script src={% static 'recipe_app/add_ingredient.js' %}></script>
<script src={% static 'recipe_app/add_tag.js' %}></script>
{% endblock %}

{% block nav-bar-links %}
{% if action == 'create' %}
<a href="{% url 'recipe-search' %}">Cancel</a>
{% elif action == 'update' %}
<a href="{% url 'recipe-detail' recipe_pk %}">Cancel</a>
{% endif %}
{% endblock %}

{% block body-content %}
<form method="post">
    {% csrf_token %}
    <div class='card-title'>
        <h1>{{recipe.name}}</h1>
        {{ recipe.errors.name }}
    </div>
    <div class='content-flex'>
        <div class='ingredients-pane'>
            <h2>
                Ingredients
                <button type="button" onclick="addIngredient()">+</button>
            </h2>
            {{ ingredients_list.management_form }}
            {% for i in ingredients_list %}
            <div>
                {{ i.measurement }} - {{ i.name }} {{ i.DELETE }}
                <label for="{{ i.DELETE.id_for_label }}" class="delete-label">
                    <img src="{% static 'icons/icons8-minus-48.png' %}" />
                </label>
                {{ i.errors.name }}
            </div>
            {% endfor %}
        </div>
        <div class='directions-pane'>
            <h2>Directions</h2>
            <p>{{recipe.directions}}</p>
        </div>
        <div class='tags-pane'>
            <h2>
                Tags
                <button type="button" onclick="addTag()">+</button>
            </h2>
            <div class='tag-create-pane'>
                <p>{{tag_create}}</p>
            </div>
            <div class='tag-select-pane'>
                {{tag_select.management_form}}
                {% for tag in tag_select %}
                <p>{{tag}}</p>
                {% endfor %}
            </div>
        </div>
    </div>
    <button type="submit">Submit</button>
</form>
{% endblock %}