{% extends "base.html" %}

{% block body %}
    <body>
        <div class='card-title'>
            <h1>{{recipe.name}}</h1>
        </div>
        <div class='content-flex'>
            <div class='ingredients-pane'>
                <h2>Ingredients</h2>
                <ul>
                    {% for ingredient in ingredients_list %}
                        <li>
                            {{ingredient.name}} - {{ingredient.measurement}}
                        </li>
                    {% endfor %}
                </ul>
            </div>
            <div class='directions-pane'>
                <h2>Directions</h2>
                <p>{{recipe.directions}}</p>
            </div>
        </div>
    </body>
{% endblock %}