{% load static %}

<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="{% static 'recipe_app/style.css' %}">
        <link rel="shortcut icon" type="image/png" href="{% static 'images/favicon.png' %}" >
        <title>Recipe Box</title>
        <meta charset="UTF-8">
        {% block scripts %}
        {% endblock %}
    </head>
    <body>
        <div id='nav-bar'>
            {% block nav-bar-links %}
            {% endblock %}
        </div>
        {% block body-content %}
        {% endblock %}
    </body>
</html>